{% extends 'base.html' %}
<script>
  $(document).ready(function(){
      $("#search").on("keyup",function(){
          var value = $(this).val().toLowerCase();
          $("#myDiv tr").filter(function(){
              $(this).toggle($(this).text().toLowerCase())
              
          });
      });
  });
</script>
{% load static %}
{% block content %}



  {% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

  {% endfor %}

{% endif %}

  <!-- Page Content -->
  <div class="page-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>new arrivals</h4>
            <h2>sixteen products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="products" id="tr" >
    <div class="container">
      <div class="row">
      
        {% for i in page_obj %}
        <div class="col-lg-4 col-md-4 all des">

          <div class="product-item" >
            <a href="/info"> </a>
            <a href="{% url 'info' i.pk %}"><img src="{{i.image.url}}"></a>
            <div class="down-content">
              <a href="{% url 'info' i.pk %}">
                <h4>{{i.item_name}}</h4>
              </a>
              <h6>{{i.price}}</h6>
              <p>{{i.description}}</p>
              <div class="xyz" style="display: flex; justify-content: space-between;">
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <form action="/addtocart/" method="get">
                  {% csrf_token %}
                  
                    <input type="hidden" name="prod_id" value="{{i.id}}" id="prod_id">
                    <button type="submit" class="btn btn-primary shadow px-3 py-1">Add to cart</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--   pagnitore -->
  <center>
    <div class="container">
      <span>
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">
          <<</a>
            {% endif %}
            <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">>></a>
            {% endif %}
      </span>
    </div>
  </center>


  </div>
  </div>
  </div>
  <!--  end pagnitore -->

 
<!-- <script>
  $(document).ready(function(){
      $("#search").on("keyup",function(){
          var value = $(this).val().toLowerCase();
          $("#mytable tr").filter(function(){
              $(this).toggle($(this).text().toLowerCase().indexOf(value)> -1)
              
          });
      });
  });
  
</script> -->

{% endblock content %}